body,
html {
    box-sizing: border-box;
    height: 100vh;
}

.container {
    background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%);
    position: relative;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1;
    width: 70%;
}

.search {
    border: none;
    background: transparent;
}

#current-location {
    border: none;
    background: transparent;
    ;
}

input {
    width: 100%;
    background: transparent;
    border: none;
}

input:focus {
    border-bottom: 3px solid;
    outline: none;
}

.date-time {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 auto;
}

.city {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;

}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.box-2 img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.box-2 .deg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.deg .degrees {
    font-size: 55px;
    font-weight: bold;
}

.box-2 .temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
    font-size: 25px;
}

.temp .ceslius,
.fahrenheit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
}

.celsius a,
.fahrenheit a {
    text-decoration: none;
}

.celsius a:hover,
.fahrenheit a:hover {
    text-decoration: none;
    color: black;
}

.celsius a:visited,
.fahrenheit a:visited {
    color: black;
}

.box-2 .description {
    font-weight: bold;
}

.box-2 .description::first-letter {
    text-transform: capitalize;
}

.box-2 .precipitations {
    text-decoration: underline;
    font-weight: bold;
}

.box-2 .min-max {
    display: flex;
    gap: 10px;
}

.box-2 .min-max {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    flex: 1;
}

.box-3 .conditions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 20px;
}

.box-4 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.box-4 .rectangle {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.box-4 .card-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center !important;
    background: transparent;
    width: 100%;
    flex-wrap: wrap;
}

.box-4 .card-weather h2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


.box-4 .card-weather .temperatures {
    font-size: 18px;
    font-weight: bold;
}

.box-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.box-5 .coder {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

fa-github:hover {
    color: yellow;
}