* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}
.container {
  background: linear-gradient(
    167.44deg,
    #08244f 0%,
    #134cb5 47.38%,
    #0b42ab 100%
  );
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
  width: 100%;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
  width: 70%;
}

.search {
  border: none;
  background: transparent;
}

#current-location {
  border: none;
  background: transparent;
}
/* Daytime placeholder color */
.placeholder-day::placeholder {
  color: black;
}
/* Nighttime placeholder color */
.placeholder-night::placeholder {
  color: white;
}

/* Daytime placeholder color */
.placeholder-day:focus {
  color: black;
}
/* Nighttime placeholder color */
.placeholder-night:focus {
  color: white;
}
input {
  width: 100%;
  background: transparent;
  border: none;
}

input:focus {
  border-bottom: 3px solid;
  outline: none;
}

.date-time {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.city {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.box-2 .weather-icon {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.box-2 .deg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.deg .degrees {
  font-size: 55px;
  font-weight: bold;
}

.box-2 .temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
  font-size: 25px;
}

.temp .celsius,
.fahrenheit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}

.celsius a,
.fahrenheit a {
  text-decoration: none;
}

.celsius a:hover,
.fahrenheit a:hover {
  text-decoration: none;
  color: black;
}

.celsius a:visited,
.fahrenheit a:visited {
  color: black;
}

.box-2 .description {
  font-weight: bold;
}

.box-2 .description::first-letter {
  text-transform: capitalize;
}

.box-2 .precipitations {
  text-decoration: underline;
  font-weight: bold;
}

.box-2 .min-max {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.box-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  flex: 1;
}

.box-3 .conditions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  gap: 20px;
}
.forecast-header {
  text-align: center;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.box-4 {
  margin: 0 0 50px 0;
}
.box-4 .rectangle {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-weather {
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.card-weather h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.temperatures {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.box-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.box-5 .coder {
  text-align: center;
  font-weight: bold;
}

fa-github:hover {
  color: yellow;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html {
    margin: 0 auto;
    box-sizing: border-box;
  }

  /* Set box-sizing property globally */
  * {
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    height: 100%;
  }
  .box-4 {
    margin: 0 auto;
  }

  .box-4 .rectangle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .box-4 .card-weather {
    border-radius: 10%;
    border: 1px solid black;
  }

  .forecast-icon {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 70%;
  }

  .box-5 .coder {
    font-size: 20px;
    margin: 20px 0 0 0;
  }
}

@media only screen and (max-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body,
  html {
    margin: 0 auto;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
  .date-time {
    font-size: 16px;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .box-2 .weather-icon {
    width: 40%;
  }
  .forecast-header {
    text-align: center;
    font-weight: bold;
    margin: 5px 0 5px 0;
  }
  .box-4 {
    margin-bottom: 10px;
  }
  .box-4 .rectangle {
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
  }

  .box-4 .card-weather {
    border-radius: 10%;
    border: 1px solid black;
    padding: 0.5rem;
  }

  .card-weather h2 {
    font-size: 15px;
  }

  .temperatures {
    font-size: 15px;
  }
  .weather-icon {
    width: 60%;
  }

  .forecast-icon {
    width: 70%;
  }

  .box-5 .coder {
    font-size: 15px;
    margin: 0 auto;
  }
}
